body {
	background-color: white;
	background-image: url("../img/bg.jpg");
	/* background-image: url("https://img.freepik.com/free-vector/beautiful-hand-painted-watercolor-background_1020-1131.jpg"); */
    min-height: 100vh;
    z-index: -10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-size: 1.3rem;		    
}

.lead {
	font-size: 1.5rem;
	font-family:sans-serif;
}

ul {
	margin-top: 2rem;
	list-style: none;
}

li {
	border-bottom: 1px solid black;
	padding: 0.5rem 0 0.5rem 0;
	margin: 0 1rem 0 1rem;
	font-family:sans-serif;
}
